@model IEnumerable<VoteSystem.Data.Vote>

@{
    ViewBag.Title = "MakeVote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Votes</h2>

<p>@Html.ActionLink("Create New Vote", "Create", "Votes")</p>


@{ Html.RenderPartial("~/Views/Shared/_Vote.cshtml", Model);}